build/

partition_table/

.vscode/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]

*.o
*.obj

*.elf
*.bin
*.map
*.hex

*.a
*.lib

*.so
*.dylib
*.dll

*.d

*.swp
*.swo
*~
